@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.nav-logo {
    height: 30px;
}

.banner-section-bg-container {
    background-image: url("https://i.pinimg.com/originals/47/93/a7/4793a77dd291cb8e44708f27c0416112.png");
    height: 100vh;
    background-size: cover;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.hero-custom-button {
    background-color: #ffffff;
    border: 0px;
    color: #FE0000;
    height: 35px;
    width: 180px;
    font-weight: bold;
    font-family: Roboto;
}

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.frame {
    background: rgba(242, 113, 33, 1);
    width: 50vh;
    height: 10px;
    margin: 5px;
}

.frame-text {
    color: rgba(242, 113, 33, 1);
    font-weight: bold;
    font-family: Roboto;
}

@media (min-width: 576px) {
    .image {
        height: 25vh;
    }
}

@media (max-width: 576px) {
    .image {
        height: 10vh;
    }
}

@media (max-width: 576px) {
    .about-section {
        display: flex;
        flex-direction: column;
    }
}

.delivery-and-payment-section {
    background-color: white;
}

.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 28px;
    color: #183b56;
    text-align: center;
}

.icon {
    color: #dc143c;
    font-size: 35px;
    margin: 30px;
}

.footer-section {
    background-color: #0d2436;
}

.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}



.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
}

.popup .content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #ffffff;
    z-index: 2;
    box-sizing: border-box;
    margin-top: 300px;
}

.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    color: black;
    font-size: 50px;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.heading-text {
    font-family: Roboto;
    font-weight: bold;
}

.pragraph-heading {
    font-weight: bold;
    font-family: Roboto;
}


.season-image {
    width: 95%;
    height: 60vh;
}

.button {
    color: white;
    background-color: #cbd2d9;
    font-family: "Roboto";
    font-size: 14px;
    width: 80px;
    height: 32px;
    border-width: 0;
    border-radius: 8px;
    margin-left: 10px;
    margin-right: 10px;
}

.products-btn-img {
    height: 100px;
    width: 150px;
    margin: 10px;
    background-color: transparent;
}

.product-icon {
    color: #ffd800;
    font-size: 22px;
}

.products-custom-button {
    background-color: #FE0000;
    border: 0px;
    color: #ffffff;
    height: 50px;
    width: 180px;
    font-weight: bold;
    font-family: Roboto;
    margin-left: 10px;
    margin: 10px;
}

@media (max-width: 576px) {
    .product-father-container {
        display: flex;
        flex-direction: column;

    }

    .products-btn-img {
        height: 50px;
        width: 65px;
        background-color: transparent;
        margin: 5px;
    }

}

@media (min-width: 798px) {
    .product-father-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
}